---
import { getCollection } from 'astro:content';
import BlogLayout from '@layouts/BlogLayout.astro';
import { colorClassCalc } from 'src/scripts';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<BlogLayout
  meta={{
    title: 'Blog posts by the team at Straighforward Growth',
    description: 'Content marketing tips, tricks, why and how',
    canonicalURL: canonicalURL.href,
  }}
  ,
  header={{
    title: 'Straightforward Thoughts',
    subtitle: 'What we know works, why, and how to do it',
  }}
>
  <section class="box flow bg-white z-10 relative" id="main">
    <div class="grid gap-xs" style="--grid-min-item-size: min(400px, 60%);">
      {
        allPosts.map((post, index) => {
          const colors = colorClassCalc(index);
          return (
            <div class={`rounded-3xl p-2xs ${colors.class}`}>
              <div
                class={`flow prose p-m text-${colors.color}-1000 bg-${colors.color}-100 rounded-2xl h-full`}
              >
                <h3 class={`mt-zero text-${colors.color}-vivid-900`}>
                  <a href={`/${post.collection}/${post.slug}/`}>
                    {post.data.title}
                  </a>
                </h3>
                <p class="mt-2xs ">
                  <small class="uppercase text-step-000 font-medium font-mono tracking-wide text-gray-900">
                    {new Date(post.data.publishDate).toLocaleDateString(
                      undefined,
                      {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                      }
                    )}
                  </small>
                </p>
                <p>{post.data.description}</p>
                <p class="pb-l">
                  <a href={`/${post.collection}/${post.slug}/`}>
                    Read more &hellip;
                  </a>
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
</BlogLayout>
