---
import InnerLayout from '../layouts/InnerLayout.astro';
import Benefits from '../components/Benefits.astro';
import SpotsAvailable from '../components/SpotsAvailable.astro';
import PriceCard from '../components/PriceCard.astro';

const cards = [
  {
    heading: 'Straightforward Package',
    content:
      'Have your own content, SEO, social or web teams? Supercharge your existing teams with 100’s of hours in keyphrase research for your market. With a list of one or more keyphrases to have in the pages, examples of high ranking sites, and key analysis findings.',
    benefits: [
      '3 ideas for a blog post, newsletter, or landing page',
      'Wireframe structure recommendation',
      'Content machine',
      'Same day delivery',
    ],
    monthlyPrice: '1,250',
    buttonURL: '#',
  },
  {
    heading: 'Growth Package',
    content:
      'Need something with more craft? Get everything in the straightforward package but with added content creation. Give us your brand persona, brand language, and brand personality and we’ll marry that to our high value keyphrase posts and pages.',
    benefits: [
      'Everything in the Straightforward Package',
      'Content creation, with 2 revisions',
      'Unlimited stock photography',
      'Implementation on most platforms',
    ],
    monthlyPrice: '2,500',
    buttonText: 'Coming soon',
    buttonURL: '#',
  },
];
---

<InnerLayout
  meta={{
    title: 'Straighforward Growth | Consulting expertise with a twist',
    description:
      'With a combined 30 years of experience in the tech industry, we help you grow your business with a twist.',
  }}
>
  <Benefits />
  <SpotsAvailable />
  <section class="region wrapper">
    <div class="grid" style="--grid-min-item-size: 600px; --gap: 0;">
      {
        cards.map((card, index) => {
          const styles =
            index === 0
              ? 'border: 3px solid var(--blue500); color: var(--blue700);'
              : 'border: 3px solid var(--blue200); color: var(--blue500);';
          return (
            <PriceCard
              index={index}
              heading={card.heading}
              content={card.content}
              buttonText={card.buttonText}
              buttonURL={card.buttonURL}
              benefits={card.benefits}
              monthlyPrice={card.monthlyPrice}
              style={`--max-width: 500px; ${styles}`}
            />
          );
        })
      }
    </div>
  </section>
</InnerLayout>
