---
import InnerLayout from '../layouts/InnerLayout.astro';
import Benefits from '../components/Benefits.astro';
import SpotsAvailable from '../components/SpotsAvailable.astro';
import PriceCard from '../components/PriceCard.astro';
import FAQ from '../components/FAQ.astro';

const cards = [
  {
    heading: 'Straightforward Package',
    content:
      "Have your own content, SEO, social or web teams? Supercharge your existing teams with 100's of hours in keyphrase research for your market. Use these high value keyphrases to create content that connects.",
    benefits: [
      '3 long form content ideas',
      'Title and page type recommendations',
      'Example high ranking sites',
      'Wireframe structure recommendations',
      'Your unique content machine',
      'Average 24 hour delivery',
      'Easy credit-card payments',
      'Cancel anytime',
    ],
    monthlyPrice: '2,000',
    buttonURL: '#',
  },
  {
    heading: 'Growth Package',
    content:
      "Need something with more craft? Get everything in the straightforward package but with added content creation. Give us your brand persona, brand language, and brand personality and we'll marry that to our high value keyphrase posts and pages.",
    benefits: [
      'Everything in the Straightforward Package',
      'Content creation, with 2 revisions',
      'Unlimited stock photography',
      'Implementation on most platforms',
    ],
    monthlyPrice: '4,500',
    buttonText: 'Coming soon',
    buttonURL: '#',
  },
];

const customSignHeader = {
  title: "100's of hours of research for your custom sign company.",
  subtitle:
    'Being successful online is extremely difficult. Being successful online without analyzing data is near impossible.',
};
---

<InnerLayout
  meta={{
    title: 'Straighforward Growth | Consulting expertise with a twist',
    description:
      'With a combined 30 years of experience in the tech industry, we help you grow your business with a twist.',
  }}
  header={customSignHeader}
>
  <Benefits />
  <SpotsAvailable />
  <section class="region wrapper" data-layout="md">
    <div class="grid" style="--gap: 0;">
      {
        cards.map((card, index) => {
          const styles =
            index === 0
              ? 'border: 3px solid var(--blue500); color: var(--blue700);'
              : 'border: 3px solid var(--blue200); color: var(--blue500);';
          return (
            <PriceCard
              index={index}
              heading={card.heading}
              content={card.content}
              buttonText={card.buttonText}
              buttonURL={card.buttonURL}
              benefits={card.benefits}
              monthlyPrice={card.monthlyPrice}
              style={`--max-width: 400px; ${styles}`}
            />
          );
        })
      }
    </div>
  </section>
  <FAQ />
</InnerLayout>
