---
import InnerLayout from '../layouts/InnerLayout.astro';
import Benefits from '../components/Benefits.astro';
import SpotsAvailable from '../components/SpotsAvailable.astro';
import PriceCard from '../components/PriceCard.astro';
import FAQ from '../components/FAQ.astro';
import ContentMachine from '../components/ContentMachine.astro';

const cards = [
  {
    heading: 'Straightforward',
    content:
      'Do you have an existing marketing team or agency helping grow your sign company, but they can do better generating leads? Supercharge your existing teams with data-based and insight validated high value keyphrase content ideas to create content that connects.',
    benefits: [
      '3 long form content ideas',
      'Content machine framework for writing',
      'Example content for writing inspiration',
      'Wireframe page structure recommendations',
      'Distribution recommendations',
      'Average 24 hour delivery',
      'Easy credit-card payments',
      'Cancel anytime',
    ],
    monthlyPrice: '2,000',
    buttonURL: 'https://buy.stripe.com/cN217FgyTcfhcN2288',
    bookingLink: 'https://tidycal.com/19qz8xm/straightfoward-package',
  },
  {
    heading: 'Straightforward +',
    content:
      "Writing is hard. Get everything in the straightforward package but with added content creation. Give us your brand persona, brand language, and brand personality and we'll marry that to our high value keyphrase content recommendations.",
    benefits: [
      'Everything in the Straightforward Package',
      'Content creation, with 2 revisions',
      'Unlimited stock photography',
      'Implementation on most platforms',
    ],
    monthlyPrice: '5,500',
    buttonText: 'Coming soon',
    buttonURL: '#',
  },
];

const customSignHeader = {
  title: 'Lead generation for Sign Companies',
  subtitle:
    'Growing a sign business online is difficult. Growing a sign business online without analyzing data is near impossible. Get the data you need to increase online leads for your sign company.',
};

const pageMeta = {
  title: 'Lead Generation for Sign Companies | How to grow a Sign Business',
  description:
    'Sign Company Lead Generation | Growing a sign business online is difficult. Growing a sign business online without analyzing data is near impossible. Get the data you need to increase online leads for your custom sign company.',
  image: '/media/og-image-csc@2x.png',
};
---

<InnerLayout meta={pageMeta} header={customSignHeader}>
  <ContentMachine />
  <div class="relative">
    <Benefits />
    <SpotsAvailable />
  </div>
  <div class="region spot-color-blue relative z-0 overflow-hidden">
    <div id="orb-test"></div>
    <!-- <svg
      viewBox="0 0 200 200"
      fill="currentColor"
      class="absolute z-0 text-color-purple300"
      style="height: 130vh; left: 50%; top: 50%; transform: translate(-50%, -50%);"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M50 0H200V50V150L150 200L150 50H0L50 0ZM0 165.067V100L65.067 100L0 165.067ZM100 200H35.7777L100 135.778L100 200Z"
      ></path>
    </svg> -->
    <section class="wrapper" data-layout="md">
      <div class="price-card-container" style="--gap: 0;">
        {
          cards.map((card, index) => (
            <PriceCard
              index={index}
              heading={card.heading}
              content={card.content}
              buttonText={card.buttonText}
              buttonURL={card.buttonURL}
              benefits={card.benefits}
              monthlyPrice={card.monthlyPrice}
              bookingURL={card.bookingLink}
            />
          ))
        }
      </div>
    </section>
  </div>
  <FAQ />
</InnerLayout>
