---
import InnerLayout from '../layouts/InnerLayout.astro';
import Benefits from '../components/Benefits.astro';
import SpotsAvailable from '../components/SpotsAvailable.astro';
import PriceCard from '../components/PriceCard.astro';
import FAQ from '../components/FAQ.astro';
import ContentMachine from '../components/ContentMachine.astro';
import EstimatedRevenue from '../components/EstimatedRevenue.astro';

const cards = [
  {
    heading: 'Straightforward Max',
    content:
      "Writing is hard. Get everything in the Straightforward+ package but with added content creation. Give us your brand persona, brand language, and brand personality and we'll marry that to our high value keyphrase content recommendations.",
    benefits: [
      'Everything in the Straightforward+ package',
      'Content creation, with unlimited revisions',
      'Unlimited stock photography',
      'Implementation on most platforms',
    ],
    monthlyPrice: '6,000',
    bookingLink: 'https://tidycal.com/19qz8xm/straightfoward-package',
    buttonURL: 'https://buy.stripe.com/28o8A782ngvx28o6oq',
  },
  {
    heading: 'Straightforward+',
    content:
      'Supercharge your existing team with even more data-based and insight validated high value keyphrase content ideas to create content.',
    benefits: [
      '3 content ideas',
      'High rank examples',
      'Analysis findings',
      'Best practices & wireframes',
      'Distribution recommendations',
      'Content machine framework',
      'Average 24-hour delivery',
      'Easy credit-card payments',
      'Cancel anytime',
    ],
    monthlyPrice: '2,000',
    bookingLink: 'https://tidycal.com/19qz8xm/straightfoward-package',
    buttonURL: 'https://buy.stripe.com/cN217FgyTcfhcN2288',
  },
  {
    heading: 'Straightforward',
    content:
      'Are you already writing blog articles, and other landing pages? Supercharge your existing team with data-based and insight validated high value keyphrase content.',
    benefits: [
      '1 content idea',
      'High rank examples',
      'Analysis findings',
      'Distribution recommendations',
      'Content machine framework',
      'Average 24-hour delivery',
      'Easy credit-card payments',
      'Cancel anytime',
    ],
    monthlyPrice: '1,000',
    bookingLink: 'https://tidycal.com/19qz8xm/straightfoward-package',
    buttonURL: 'https://buy.stripe.com/00g5nV3M74MP9AQbIJ',
  },
];

const customSignHeader = {
  title: 'Lead generation for sign companies',
  subtitle:
    'Are you looking to attract more customers? Let us help you make more money.',
};

const pageMeta = {
  title: 'Lead Generation for Sign Companies | How to grow a Sign Business',
  description:
    'Sign Company Lead Generation | Growing a sign business online is difficult. Growing a sign business online without analyzing data is near impossible. Get the data you need to increase online leads for your custom sign company.',
  image: '/media/og-image-csc@2x.png',
  canonicalURL:
    'https://straightforwardgrowth.com/lead-generation-for-sign-companies/',
};
---

<InnerLayout meta={pageMeta} header={customSignHeader}>
  <ContentMachine />
  <EstimatedRevenue />
  <div class="relative">
    <Benefits />
    <SpotsAvailable />
  </div>
  <div class="region spot-color-purple relative z-0 overflow-hidden">
    <div id="orbs"></div>
    <section class="wrapper">
      <div class="price-card-container">
        {
          cards.map((card, index) => (
            <PriceCard
              index={index}
              heading={card.heading}
              content={card.content}
              buttonText={card.buttonText}
              buttonURL={card.buttonURL}
              benefits={card.benefits}
              monthlyPrice={card.monthlyPrice}
              bookingURL={card.bookingLink}
              comingSoon={card.comingSoon}
            />
          ))
        }
      </div>
    </section>
  </div>
  <FAQ />
</InnerLayout>
