---
import InnerLayout from '../layouts/InnerLayout.astro';
import Benefits from '../components/Benefits.astro';
import SpotsAvailable from '../components/SpotsAvailable.astro';
import PriceCard from '../components/PriceCard.astro';
import FAQ from '../components/FAQ.astro';
import ContentMachine from '../components/ContentMachine.astro';
import Keyphrases from '../components/Keyphrases.astro';

const cards = [
  {
    heading: 'Straightforward',
    content:
      'Are you already writing blog articles, and other landing pages? Supercharge your existing team with data-based and insight validated high value keyphrase content ideas to create content that connects.',
    benefits: [
      '3 long form content ideas',
      'Content machine framework',
      'High rank examples',
      'Best practices & wireframes',
      'Distribution recommendations',
      'Average 24-hour delivery',
      'Easy credit-card payments',
      'Cancel anytime',
    ],
    monthlyPrice: '2,000',
    buttonURL: 'https://buy.stripe.com/cN217FgyTcfhcN2288',
    bookingLink: 'https://tidycal.com/19qz8xm/straightfoward-package',
  },
  {
    heading: 'Straightforward +',
    content:
      "Writing is hard. Get everything in the straightforward package but with added content creation. Give us your brand persona, brand language, and brand personality and we'll marry that to our high value keyphrase content recommendations.",
    benefits: [
      'Everything in the Straightforward package',
      'Content creation, with unlimited revisions',
      'Unlimited stock photography',
      'Implementation on most platforms',
    ],
    monthlyPrice: '5,500',
    buttonText: 'Coming soon',
    buttonURL: '#',
  },
];

const customSignHeader = {
  title: 'Lead generation for sign companies',
  subtitle:
    'Are you looking to attract more customers? Let us help you make more money.',
};

const pageMeta = {
  title: 'Lead Generation for Sign Companies | How to grow a Sign Business',
  description:
    'Sign Company Lead Generation | Growing a sign business online is difficult. Growing a sign business online without analyzing data is near impossible. Get the data you need to increase online leads for your custom sign company.',
  image: '/media/og-image-csc@2x.png',
  canonicalURL:
    'https://straightforwardgrowth.com/lead-generation-for-sign-companies/',
};
---

<InnerLayout meta={pageMeta} header={customSignHeader}>
  <ContentMachine />
  <Keyphrases />
  <div class="relative">
    <Benefits />
    <SpotsAvailable />
  </div>
  <div class="region spot-color-purple relative z-0 overflow-hidden">
    <div id="orbs"></div>
    <section class="wrapper" data-layout="md">
      <div class="price-card-container" style="--gap: 0;">
        {
          cards.map((card, index) => (
            <PriceCard
              index={index}
              heading={card.heading}
              content={card.content}
              buttonText={card.buttonText}
              buttonURL={card.buttonURL}
              benefits={card.benefits}
              monthlyPrice={card.monthlyPrice}
              bookingURL={card.bookingLink}
            />
          ))
        }
      </div>
    </section>
  </div>
  <FAQ />
</InnerLayout>
