---
import InnerLayout from '../layouts/InnerLayout.astro';
import Benefits from '../components/Benefits.astro';
import SpotsAvailable from '../components/SpotsAvailable.astro';
import PriceCard from '../components/PriceCard.astro';
import FAQ from '../components/FAQ.astro';
import ContentMachine from '../components/ContentMachine.astro';
import Keyphrases from '../components/Keyphrases.astro';

const cards = [
  {
    heading: 'Straightforward',
    content:
      'Are you already writing blog articles, and other landing pages? Supercharge your existing team with data-based and insight validated high value keyphrase content ideas to create content that connects.',
    benefits: [
      '3 long form content ideas',
      'Content machine framework',
      'High rank examples',
      'Best practices & wireframes',
      'Distribution recommendations',
      'Average 24-hour delivery',
      'Easy credit-card payments',
      'Cancel anytime',
    ],
    monthlyPrice: '2,000',
    buttonURL: 'https://buy.stripe.com/cN217FgyTcfhcN2288',
    bookingLink: 'https://tidycal.com/19qz8xm/straightfoward-package',
  },
  {
    heading: 'Straightforward +',
    content:
      "Writing is hard. Get everything in the straightforward package but with added content creation. Give us your brand persona, brand language, and brand personality and we'll marry that to our high value keyphrase content recommendations.",
    benefits: [
      'Everything in the Straightforward package',
      'Content creation, with unlimited revisions',
      'Unlimited stock photography',
      'Implementation on most platforms',
    ],
    monthlyPrice: '5,500',
    buttonText: 'Coming soon',
    buttonURL: '#',
  },
];

const customSignHeader = {
  title: 'Lead generation for sign companies',
  subtitle:
    'Are you looking to attract more customers? Let us help you make more money.',
};

const pageMeta = {
  title: 'Lead Generation for Sign Companies | How to grow a Sign Business',
  description:
    'Sign Company Lead Generation | Growing a sign business online is difficult. Growing a sign business online without analyzing data is near impossible. Get the data you need to increase online leads for your custom sign company.',
  image: '/media/og-image-csc@2x.png',
};
---

<InnerLayout meta={pageMeta} header={customSignHeader}>
  <ContentMachine />
  <Keyphrases />
  <div class="relative">
    <Benefits />
    <SpotsAvailable />
  </div>
  <div class="region spot-color-purple relative z-0 overflow-hidden">
    <div id="orbs"></div>
    <section class="wrapper" data-layout="md">
      <div class="price-card-container" style="--gap: 0;">
        {
          cards.map((card, index) => (
            <PriceCard
              index={index}
              heading={card.heading}
              content={card.content}
              buttonText={card.buttonText}
              buttonURL={card.buttonURL}
              benefits={card.benefits}
              monthlyPrice={card.monthlyPrice}
              bookingURL={card.bookingLink}
            />
          ))
        }
      </div>
    </section>
  </div>
  <div class="region spot-color-purple relative z-0">
    <div
      x-data="valueSlider"
      x-init="$watch('sliderValue', () => calculateRevenue())"
      class="wrapper flow"
      data-layout="md"
    >
      <h2 class="mx-auto text-center">How can impressions turn into cash?</h2>
      <p class="mx-auto text-center">
        Let's make some assumptions, and quickly calculate what your monthly
        revenue could be. We'll assume a 2% conversion rate on impressions, a
        10% close rate on leads, and the average custom sign contract is worth
        $70,000.
      </p>
      <div class="box text-center flow prose spot-color-purple-dark">
        <div>
          <h3 class="mx-auto">Impressions</h3>
          <p class="mx-auto">
            <small class="step--2"><span x-text="sliderValue"></span></small>
          </p>
          <input
            class="w-full"
            type="range"
            x-model="sliderValue"
            min="500"
            max="100000"
            step="100"
          />
          <p class="mx-auto">
            <small>
              <span x-text="leads"></span> lead(s), and <span
                x-text="leadsClosed"></span> lead(s) closed
            </small>
          </p>
        </div>
        <div class="flow flow-space-xs">
          <p class="mx-auto step-2">Monthly estimated value</p>
          <h4 class="step-4"><span x-text="monthlyRevenue"></span></h4>
        </div>
      </div>
    </div>
  </div>
</InnerLayout>

<FAQ />

<script>
  import Alpine from 'alpinejs';

  const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
    maximumFractionDigits: 0,
  });

  window.Alpine = Alpine;

  Alpine.data('valueSlider', () => ({
    init() {
      this.calculateRevenue();
    },
    sliderValue: 5000,
    leads: 0,
    leadsClosed: 0,
    averageValue: 70000,
    monthlyRevenue: '$0',
    calculateRevenue() {
      this.leads = Math.round((((this.sliderValue / 100) * 2) / 100) * 7);
      this.leadsClosed = Math.round((this.leads / 100) * 10);
      this.monthlyRevenue = formatter.format(
        Math.round(this.leadsClosed * this.averageValue),
      );
    },
  }));

  Alpine.start();
</script>
