---
import '../css/reset.css';
import '../css/global.css';
import '../css/inter.css';
import '../css/publicsans.css';
import '../css/variables.css';
import '../css/components/accordion.css';
import '../css/blocks/box.css';
import '../css/blocks/center.css';
import '../css/blocks/grid.css';
import '../css/blocks/pricecard.css';
import '../css/blocks/prose.css';
import '../css/blocks/cluster.css';
import '../css/blocks/cover.css';
import '../css/blocks/reel.css';
import '../css/blocks/stack.css';
import '../css/blocks/switcher.css';
import '../css/utilities/content.css';
import '../css/utilities/flow.css';
import '../css/utilities/region.css';
import '../css/utilities/wrapper.css';
import '../css/utility.css';
import '../css/exceptions.css';
export interface Props {
  meta: {
    title?: string;
    description?: string;
    canonicalURL?: URL | string;
    image?: string;
  };
}

const { meta } = Astro.props;

const title = meta.title
  ? meta.title
  : 'Straighforward Growth | Consulting expertise with a twist';
const description = meta.description
  ? meta.description
  : 'Straighforward Growth | Consulting expertise with a twist';
const canonicalURL = meta.canonicalURL
  ? meta.canonicalURL
  : 'https://straightforwardgrowth.com';
const ogImage = meta.image ? meta.image : '/media/og-image@2x.png';
---

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <!-- Canonical -->
  <link rel="canonical" href={canonicalURL} />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#00aba9" />
  <meta name="theme-color" content="#062740" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />
  <meta
    property="og:image:alt"
    content={`Straightforward Growth | ${description}`}
  />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Local Fonts -->
  <link
    rel="preload"
    as="font"
    href="/fonts/inter/InterVariable.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/inter/InterVariable.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <!-- Schema.org -->
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-C1M7VDFL5R"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-C1M7VDFL5R');
  </script>
  <!-- Hotjar Tracking Code for Straightforward Growth -->
  <script type="text/partytown">
    (function (h, o, t, j, a, r) {
      h.hj =
        h.hj ||
        function () {
          (h.hj.q = h.hj.q || []).push(arguments);
        };
      h._hjSettings = { hjid: 3749237, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</head>
