---
export interface Props {
  heading: string;
  content: string;
  url?: string;
  imgUrl?: any;
  alt?: string;
  style?: string;
  classes?: string;
  monthlyPrice?: string;
  dataLayout?: 'full';
  buttonText?: string;
  buttonURL?: string;
  index: number;
  benefits: string[];
}

const {
  url = '#',
  imgUrl,
  alt = 'Straightforward Solutions Image',
  heading,
  style,
  classes,
  content,
  benefits,
  monthlyPrice,
  dataLayout,
  buttonText,
  buttonURL,
  index,
} = Astro.props;

const classList = `price-card ${classes}`;
const buttonStyles = `button ${index === 1 ? 'button-disabled' : ''}`;
const button = buttonText || 'Get Started';
const styles = `${index === 1 ? 'transform: scale(0.95);' : ''} ${style}`;
---

<div style={styles} class={classList} data-layout={dataLayout}>
  <div class="price-card-content flow">
    <h3 class="uppercase step-0 font-weight-semibold mb-m-l">{heading}</h3>
    <p>{content}</p>
    {
      monthlyPrice && (
        <p class="font-weight-bold">
          <span class="step-2">${monthlyPrice}</span>{' '}
          <span style="color: var(--blue500);">/month</span>
        </p>
      )
    }
    {
      buttonURL && (
        <div class="mt-m-l mb-m-l">
          <a href={buttonURL} class={buttonStyles}>
            {button}
          </a>
        </div>
      )
    }
    <p><small class="font-weight-semibold">What's included:</small></p>
    <ul class="price-card-item">
      {benefits.map((benefit) => <li>{benefit}</li>)}
    </ul>
    <p class="text-center"><a href="#">Book enrollment call</a></p>
  </div>
</div>
