---
export interface Props {
  heading: string;
  content: string;
  url?: string;
  imgUrl?: any;
  alt?: string;
  style?: string;
  classes?: string;
  monthlyPrice?: string;
  dataLayout?: 'full';
  buttonText?: string;
  buttonURL?: string;
  index?: number;
  benefits: string[];
  bookingURL?: string;
  comingSoon?: boolean;
}

const {
  heading,
  style,
  classes,
  content,
  benefits,
  monthlyPrice,
  dataLayout,
  buttonText,
  buttonURL,
  bookingURL,
  comingSoon,
} = Astro.props;

const classList = `price-card flex ${classes ? classes : ''}`;
const buttonStyles = `button ${comingSoon ? 'button-disabled' : ''}`;
const button = buttonText || 'Get Started';
const styles = `${style ? style : ''}`;
const bookingLink = bookingURL || '#';
---

<div style={styles} class={classList} data-layout={dataLayout}>
  <div class="box flow flex flex-col justify-between bg-indigo-vivid-300">
    <div class="flow prose">
      <h3 class="uppercase text-step-00 font-semibold">
        {heading}
      </h3>
      <p>{content}</p>
    </div>
    <div class="flow prose">
      {
        monthlyPrice && (
          <p class="font-bold">
            <span class="text-step-1">${monthlyPrice}</span>{' '}
            <span class=" text-blue-700">/month</span>
          </p>
        )
      }
      {
        buttonURL && (
          <a
            href={buttonURL}
            class={buttonStyles}
            style="margin-block-start: var(--space-xs);"
          >
            {button}
          </a>
        )
      }
      <div>
        <p>
          <small class="font-semibold uppercase">What's included:</small>
        </p>
        <ul role="list" class="price-card-item">
          {
            benefits.map((benefit) => (
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="14"
                  viewBox="0 0 448 512"
                  style="fill: currentColor"
                >
                  <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                </svg>
                {benefit}
              </li>
            ))
          }
        </ul>
      </div>
      <p class="text-center"><a href={bookingLink}>Book enrollment call</a></p>
    </div>
  </div>
</div>
